<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security Example</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header class="public-header">
    <div sec:authorize="isAnonymous()">
        <a href="/login" class="auth-button">Login</a>
        <a href="/register" class="auth-button secondary">Register</a>
    </div>

    <div sec:authorize="isAuthenticated()">
        <a href="/logout" class="auth-button">Logout</a>
    </div>

</header>

<main class="index-content">
    <h1>Welcome to Index PAGE!</h1>
</main>

</body>
</html>