<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/templates/static/css/style.css">
    <script src="/templates/static/js/editMode.js" defer></script>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th><label for="name">name</label></th>
            <th><label for="age">age</label></th>
            <th><label for="email">email</label></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="users: ${users}">
            <td>
                <input type="hidden" name="id" th:value="${users.id}"
                       th:attr="form=|form-update-${users.id}|" class="users-field"/>
                <input type="text" id="name" name="name" th:value="${users.name}"
                       th:attr="form=|form-update-${users.id}|" class="users-field" disabled required>
            </td>
            <td>
                <input type="number" id="age" name="age" th:value="${users.age}"
                       th:attr="form=|form-update-${users.id}|" class="users-field" disabled required>
            </td>
            <td>
                <input type="text" id="email" name="email" th:value="${users.email}"
                       th:attr="form=|form-update-${users.id}|" class="users-field" disabled required>
            </td>
            <td class="actions">
                <button type="button" class="button-edit" th:attr="form=|form-update-${users.id}|">Edit</button>
            </td>
            <td class="actions">
                <button type="submit" th:attr="form=|form-delete-${users.id}|" class="button-delete">Delete</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="users/new" class="button-link">Add User</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:each="users : ${users}">
        <form th:id="|form-update-${users.id}|" th:action="@{/users/update}" method="post"></form>
        <form th:id="|form-delete-${users.id}|" th:action="@{/users/delete}" method="post">
            <input type="hidden" name="id" th:value="${users.id}"/>
        </form>
    </div>
</div>
</body>
</html>